header.header
  .header__wrap
    .header__logo
      a(href="#")
        img(src="assets/img/logo.png", alt="")
    .header__navbar.navbar
      ul.navbar__links
        li
          a(href="#") Practitioner Sign Up
        li
          a(href="#" class="dropdown-js") Log In/Sign Up
            i.icon-arrow 
          ul.navbar__drop-down
            li
              a(href="#") For Clients
            li
              a(href="#") For Practitioners
      .hamburger
        .top-line
        .bottom-line