.main-screen
  .main-screen__col
    .main-screen__wrap 
      h2.main-screen__title Psychological care <br> on-demand
      p.main-screen__text Speak to a Psychologist, Psychotherapist <br> or Psychiatrist within minutes, 24/7 via our <br> secure video calling App. 
      include ../../includes/tabs/tabs
  .main-screen__col
    .main-screen__desktop
      img(src="assets/img/Desktop.png", alt="")
      .main-screen__mobile
        img(src="assets/img/Mobile.png", alt="")

