extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      include includes/menu/menu
      include includes/header/header
      .content__wrap
        include includes/main_screen/main_screen
  
  include includes/footer/footer
  
  include includes/scripts 
